.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
  } 
  form{
    margin-left: 40%;
    width: 60%;
    margin-top:7%;
}
#name1{
    padding: 8px;
    margin-right: 20px;
}
#name2{
    padding: 8px;
    margin-right: 20px;
}
#lab1{
    color: red;
    margin-top: 20px;
}
#drop1{
    padding: 8px;
    margin-top: 10px;
}
